* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --board-border-color:white;
    --overlay-background-color: black;
    --background-color: black;
    --button-color: black;
}

body, html {
    background-color: var(--background-color);
    height:100%;
    font-size: 16px;
}

button {
    background-color: var(--button-color);
    border: 1px solid white;
    box-shadow: 0 0 15px white;
    margin-top: 20px;
    position:relative;
    padding: 8px 10px;
    opacity: 0.9;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
}

button:hover {
    box-shadow: 0 0 20px white;
    opacity: 1;
}

.marker-x {
    color: greenyellow;
    text-shadow: 0 0 20px white
}

.marker-o {
    color: palevioletred;
    text-shadow: 0 0 20px white
}

.form input {
    color: black;
}

.scoreboard {
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    font-size: 3em;
    justify-content: space-between;
}

#message {
    margin-top: 0.3em;
    text-align: center;
    font-size: 2em
}

#gameboard {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem;
    width: 60vw;
    height: 60vh;
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto; /* Center the grid horizontally*/
}

.empty-cell {
    height: 100%;
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
}

#overlay h1 {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 80px;
    font-size: 3rem;
    text-shadow: 0 0 20px white;
}

#form-container {
    display: flex;
    position: fixed;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--overlay-background-color)
}

#form {
    background-color: var(--background-color);
    display:flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 250px;
}

#form li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#form label {
    text-shadow: 0 0 5px white;
    font-size: 1.25rem
}

#form input {
    outline: white solid 1px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 3px;
    color: black
}

.game-buttons {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
}

#new-game,
#new-round {
    font-size:1.5rem;
    padding: 0.5em;
    margin: 1em;
}

